@page "/formulario1"

<h1>Meu primeiro formulario Blazor</h1>
@* É um componente do blazor utilizado para criar formularios.
    
    OnSubmit é o metodo que será execultado quando o formulario
    for submetido*@
<EditForm Model="@usuario" OnSubmit="@Submeter">

    <label form="nome">Nome</label>
    <InputText id="nome" @bind-Value="usuario.Nome" />
    <br />
    <label form="email">Email</label>
    <InputText id="email" @bind-Value="usuario.Email" />
    <br />
    <label form="idade">Email</label>
    <InputNumber id="idade" @bind-Value="usuario.Idade" />
    <br />
    <input type="submit" value="Enviar Formulário" class="btn-primary"/>


</EditForm>

@code {
    public Usuario usuario = new Usuario();

    private void Submeter()
    {

    }
}
