<div>
    @if(@ChildContent == null)
    {
        <span style="color:black">Texto Padrão</span>
    }
    else
    {
        @ChildContent
    }
</div>

@code {
   
    //Renderiza um fragmento de html, informado pelo componente pai
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
