@page "/"
@inject IRepositorio<Tarefa> repo

<h1>Tarefas</h1>

<Tarefas Titulo="Tarefas" lstTarefas="GetTarefas()"/>

@code{

    public List<Tarefa> lstTarefas = new List<Tarefa>();

    protected override void OnInitialized()
    {
        lstTarefas = repo.ObterLista();
    }

    private List<Tarefa> GetTarefas()=>
        lstTarefas;
    
}
