@page "/"
@inject HttpClient http

<h1>Tarefas</h1>

<Tarefas Titulo="Tarefas" lstTarefas="GetTarefas()"/>

@code{

    public List<Tarefa> lstTarefas = new List<Tarefa>();

    protected override async Task OnInitializedAsync()
    {
        lstTarefas = await http.GetFromJsonAsync<List<Tarefa>>("dados/tarefas.json");
    }

    private List<Tarefa> GetTarefas()=>
        lstTarefas;
    
}
