<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor_Roteamento</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            @*
            ----------------------------------------------------------------------------------------------------------------
                            O NavLink, corresponde há tag <a href="">
                            ele se composta como um elemento <a>, sua diferença é que ele irá alternar uma classe
                            de CSS ativa no fato de seu href corresponder a URL atual.
             ----------------------------------------------------------------------------------------------------------------
                            * Existem duas opçoes de NavLinkMatch que podemos atribuir ao atributo Match do elemento <NavLink>:

                            1 - NavLinkMatch.All - O NavLink está ativo quando corresponder a toda a URL atual.

                            2 - NavLinkMatch.Prefix (Padrão) - O NavLink está ativo quando corresponder a qualquer
                                prefixo da URL atual.

                            Por Padrão é Prefix
            *@
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*---------------------- Counter dividido em tres sub itens -----------------------------------------------*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter/1" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter/2" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter2
            </NavLink>
        </li>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="navegador">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Navegador
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
