@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @* Para cada valor propriedade cascading é necessario criar uma tag cascading*@
            <CascadingValue Value="@config" IsFixed="true">
                    @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code{

    Config config = new Config();
}
